<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css"
    />
    <link rel="stylesheet" href="../static/dist/css/output.css" />
    <title>Alphabet for Programmers</title>
  </head>
  <body
    class="mt-10 flex flex-col overflow-clip dark:bg-gray-900 bg-gray-900 items-center"
  >
    <header>
      <nav
        class="bg-transparent dark:bg-gray-900 w-full z-20 top-0 left-0 border-gray-200 dark:border-gray-600 m-3"
      >
        <div class="flex justify-center gap-3 md:order-2">
          <button
            type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Home
          </button>
          <a href="alphabet">
            <button
              type="button"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Translate
            </button>
          </a>
        </div>
      </nav>
    </header>
    <main>
        <h1 class="block mb-5 mt-10 text-2xl font-medium text-white dark:text-white"> Alphabet for Programmers</h1>
        <ul>
            <li>
                <div class="flex gap-5 items-center justify-between">
                    <p class="text-white font-semibold text-7xl w-1/2">A </p>
                    <p class="text-white">for Algorithm</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">B </p>
                  <p class="text-white">for Branch</p>
              </div>
              <div class="flex gap-5 items-center justify-between">
                <p class="text-white font-semibold text-7xl w-1/2">C </p>
                <p class="text-white">for CRUD</p>
              </div>
              <div class="flex gap-5 items-center justify-between">
                <p class="text-white font-semibold text-7xl w-1/2">D </p>
                <p class="text-white"> for Database</p>
              </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">E </p>
                  <p class="text-white"> for Endpoint</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">F </p>
                  <p class="text-white"> for Favicon</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">G </p>
                  <p class="text-white"> for Git</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">H </p>
                  <p class="text-white"> for HTTP</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">I </p>
                  <p class="text-white"> for Integration</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">J </p>
                  <p class="text-white"> for JSON</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">K </p>
                  <p class="text-white"> for Keyword</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">L </p>
                  <p class="text-white"> for Localhost</p>
                </div>
                <div class="flex gap-5 items-center justify-between">  
                  <p class="text-white font-semibold text-7xl w-1/2">M </p>
                  <p class="text-white"> for Microservice</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">N </p>
                  <p class="text-white"> for Namespace</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">O </p>
                  <p class="text-white"> for Object</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">P </p>
                  <p class="text-white"> for Path</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">Q </p>
                  <p class="text-white"> for Query</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">R </p>
                  <p class="text-white"> for Rendering</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">S </p>
                  <p class="text-white"> for Server</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">T </p>
                  <p class="text-white"> for Terminal</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">U </p>
                  <p class="text-white"> for URL</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">V </p>
                  <p class="text-white"> for Variable</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">W </p>
                  <p class="text-white"> for Web</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">X </p>
                  <p class="text-white"> for XML</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">Y </p>
                  <p class="text-white"> for Yarn</p>
                </div>
                <div class="flex gap-5 items-center justify-between">
                  <p class="text-white font-semibold text-7xl w-1/2">Z </p>
                  <p class="text-white"> for Zip</p>
                </div>
            </li>
        </ul>
    </main>
</html>
