<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css"
    />
    <link rel="stylesheet" href="../dist/css/output.css" />
    <title>Code Alphabet Translator</title>
  </head>
  <body
    class="dark:bg-gray-900 mt-10 flex flex-col justify-center overflow-clip"
  >
    <header>
      <nav
        class="bg-white dark:bg-gray-900 w-full z-20 top-0 left-0 border-gray-200 dark:border-gray-600 m-3"
      >
        <div class="flex justify-center gap-3 md:order-2">
          <a href="translator">
            <button
              type="button"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Translate
            </button>
          </a>
          <a href="alphabet">
            <button
              type="button"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Alphabet
            </button>
          </a>
        </div>
      </nav>
    </header>
    <main
      class="flex flex-col justify-center align-center lg:pl-32 lg:pt-32 xl:pl-32 xl:pt-32"
    >
      <h1
        class="m-8 mb-4 text-6xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white overflow-clip"
      >
        => NATO translator
        <span class="text-blue-600 dark:text-blue-500 text-5xl"
          ><br />{for programmers}</span
        >
      </h1>
      <p
        class="m-10 text-lg font-large text-gray-500 lg:text-xl dark:text-gray-400"
      >
        Use our geek code to spell any word to a fellow programmer.
      </p>
      <a href="translator" class="flex justify-center">
        <button>
          <span
            class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-2xl py-4 text-center mr-2 mb-2 p-5"
            >Translate
          </span>
        </button>
      </a>
    </main>
    <footer
      class="bg-white shadow dark:bg-white-800 p-5 flex justify-center fixed bottom-0 w-screen"
    >
      <p>© Gabriela M. Fernández 2023</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
  </body>
</html>
