<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css"
    />
    <link rel="stylesheet" href="../dist/css/output.css" />
    <title>NATO translator for programmers</title>
  </head>
  <body
    class="mt-10 flex flex-col overflow-clip dark:bg-gray-900 bg-gray-900 items-center"
  >
    <header>
      <nav
        class="bg-transparent dark:bg-gray-900 w-full z-20 top-0 left-0 border-gray-200 dark:border-gray-600 m-3"
      >
        <div class="flex justify-center gap-3 md:order-2">
          <button
            type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Home
          </button>
          <button
            type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Alphabet
          </button>
        </div>
      </nav>
    </header>
    <main>
      <div class="flex flex-col items-center mt-30">
        <label
          for="small-input"
          class="block mb-5 mt-10 text-2xl font-medium text-white dark:text-white"
          >Type a word</label
        >
        <input
          type="text"
          id="input-word"
          class="p-2 text-gray-900 border w-full border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <button
          type="submit"
          id="translate_button"
          class="mt-8 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-lg px-4 py-4 dark:bg-blue-600 dark:hover:bg-blue-700"
        >
          Translate
        </button>
      </div>
      <div id="translation_list" class="mt-6 hidden">
        <ul
          class="mb-8 space-y-4 text-left text-gray-500 dark:text-gray-400"
        ></ul>
      </div>
    </main>
    <script src="../static/js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
  </body>
</html>
